<html>
<head>
<title>PENTAX PEOPLE Shuffle!!</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta http-equiv="refresh" CONTENT="<TMPL_VAR DELAYED>;URL=<TMPL_VAR URL>">
<meta name="robots" content="INDEX,NOFOLLOW">
</head>
<body>Shuffle!! Shuffle!!</ br>
If you didn't redirect to shuffled page, please click <a href="<TMPL_VAR URL>" rel="nofollow">HERE</a></body>
</html>
